<h1>Submission#new</h1>
<%= form_with(model: @submission, local: true) do |f| %>
  <%= render 'shared/error_messages' %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :breed %>
  <%= f.text_field :breed %>
  <%= f.label :image %>
  <%= f.file_field :image, multiple: false, direct_upload: true %>
  <%= f.submit 'Submit' %>
<% end %>
<%= link_to 'Back', '/' %>
<%= javascript_pack_tag 'direct_upload' %>
<%= stylesheet_link_tag 'direct_upload' %>
